body {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    
}
#header {
    font-family: 'roboto', sans-serif;
    font-size: 52px;
    font-style: italic;
    text-align: center;
    color: lime;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkgreen;
    text-shadow: 3px 3px darkgreen;
    margin-bottom: 20px;
}
#container {
    display: flex;
    flex-direction: column;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lime;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}
#drawpad {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 400px;
    height: 400px;
    border: 1px solid lime;
}

.cell {
    
    border: .5px solid black;
    
}

.cell.active {
    background-color: black;
}